.radio-button {
  display: inline-block;
  &__input {
    display: none;
  }

  &__label {
    //width: 100px;
    height: 100%;
    border: 1px solid #d2d6de;
    border-radius: 4px;
    color: #d2d6de;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__input:checked + .radio-button__label {
    border: 1px solid currentColor;
    color: currentColor;
  }
}