.splitter {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;

  &__left {
    width: 50%;
    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
  }

  &__right {
    width: 50%;
    display: inline-block;
    padding: 10px;
    border-left: 1px solid #ccc;
    margin-left: -1px;
    vertical-align: top;
  }
}
