.content-wrapper {
  padding: 0 40px;
}

.not-blue-link {
  &:visited, &:link {
    text-decoration: none;
    color: #5e5e5e;
  }

  &:hover {
    color: #555;
  }
}

.center {
  text-align: center;
}

.fade-in {
  transition: 0.5s;
}

.result {
  margin-bottom: 20px;

  &__header {
    background: #eee;
    padding: 5px 5px 5px 20px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;

    &__icon {
      cursor: pointer;
    }

    &__filename {
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
      margin-left: 18px;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.icon-wrapper {
  padding-top: 7px;
}
